/* ******************************************
New Styling

*********************************************** */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}

/*********************** Banner Section *************************** */
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width: 45px;
    margin: 20px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

/* *****************services********************* */

span {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #f91942;
    line-height: 1px;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.section-head h4::before {
    content: '';
    width: 75px;
    height: 3px;
    background-color: #f91942;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f;
}

.section-head p {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-head p ol {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover {
    background-color: #f91942;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
	transform: scale(1.10);
}

.item:hover .item, 
.item:hover span.icon {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: #f91942;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item .feature_box_col_one {
    background-color: rgba(247, 198, 5, 0.2);
    color: #f91942;
}

.item .feature_box_col_two {
    background-color: rgba(255, 77, 28, 0.15);
    color: #f91942;
}
.item .feature_box_col_three {
    background-color: rgba(0, 147, 38, 0.15);
    color: #f91942;
}
.item .feature_box_col_four {
    background-color: rgba(0, 108, 255, 0.15);
    color: #f91942;
}
.item .feature_box_col_five {
    background-color: rgba(146, 39, 255, 0.15);
    color: #f91942;
}
.item .feature_box_col_six {
    background-color: rgba(23, 39, 246, 0.15);
    color: #f91942;
}

.item p {
    font-size: 15px;
    line-height: 26px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}
/* testimonails */
body{
    font-family: montserrat;
}
#testiomial {
	display: grid;
	place-items: center;
	height: 100vh;
    background: #fff;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #f91942;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}

.testimonials{
    max-width: 1200px;
    padding: 0 15px 50px;
    margin: 0 auto 60px auto;
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid blueviolet;
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: blueviolet;
}
.socials i {
	margin-right: 25px;
	margin: 10px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: blueviolet;
}


/* ***********************About************************************* */

.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
    transform: translateY(7px);
}

#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;

}

#about-us ul li {
    margin: 12px 0;
}

.about-title1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

/* *****************Footer******************* */

#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
	width: 100%;
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa-solid {
    margin-right: 8px;
    font-style: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    min-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

hr {
    background-color: #fff;
}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

.card {
	transition: all 0.3s;
}


.span3{
	width: 75%;
	height: 50%;
	color: #903bba;
	border: 1px solid rgb(106, 76, 182);
	padding: 18px;
	align-items: flex-end;
	justify-content: center;
	border-radius: 10px;
}

.span2 {
	width: 75%;
	height: 50%;
	color: #5f1782;
	border: 1px solid rgb(106, 76, 182);
	padding: 18px;
	margin: 10px;
	align-items: flex-end;
	justify-content: center;
	border-radius: 10px;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
	background-color: #e43603;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

/* #video_list li {
	background-color: red;
	padding: 15px;
	border: 1px solid #111;
} */

#video_list li a {
	color: red;
	padding: 5px;
}

.colorr {
	background-color: #a517ba;
}











