<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "../static/courses/css/style.css"%} ">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>Course</title>
    <link rel="stylesheet" href=" {% static '../static/courses/css/bootstrap.min.css' %} ">
    {% block css %}
    
    {% endblock css %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
    </style>

</head>
<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="#" class="logo">
          <img src="{% static "courses/logo.png" %} " alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/#Courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/#testiomial">Testimonies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/#about-us">About us</a>
            </li>
          </ul>
        </div>
        {% if request.user.is_authenticated %}
          <div class="d-flex justify-content-center align-item-center gap-2">
              <a href="/my_courses" class="text-white text-decoration-none px-3 py-1">
                Mycourses
              </a>
              <a href="/logout" class="text-white text-decoration-none px-3 py-1">Logout</a>
            {% else %}
              <a href="http://localhost:8000/login" class="text-white text-decoration-none px-3 py-1">Login</a>
              <a href="http://localhost:8000/signup" class="text-white text-decoration-none px-3 py-1">Signup</a>
            {% endif %}
      </div>
    </nav>
  </section>
    {% block content %}
            
    {% endblock content %}
  <section id="footer">
      <img src="{% static '../static/courses/wave2.png' %}" class="footer-img">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-box">
            <img src="{% static '../static/courses/demo-logo.png' %}">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio illo aliquid, provident fuga itaque dolore?</p>
          </div>
          <div class="col-md-4 footer-box">
            <p><b>Contact US</b></p>
            <p><i class="fa-solid fa-map-location-dot"></i> SGR EDUCATION SOCITEY, DILSHUKNAGAR</p>
            <p><i class="fa-solid fa-phone"></i> +91 2525252525</p>
            <p><i class="fa-solid fa-envelope"></i> Sgreducation@gmail.com</p>
          </div>
          <div class="col-md-4 footer-box">
            <p><b>Subscribe US</b></p>
            <input type="email" name="text" class="form-control" placeholder="Your Email Id">
            <button type="button" class="btn btn-primary">Subscribe</button>
          </div>
        </div>
        <hr>
        <p class="copyright">Website Created By Chandu </p>
      </div>
</section>
        {% block js %}

        {% endblock js %}
<script src="../static/courses/js/bootstrap.bundle.min.js"></script>
</body>
</body>
</html> 


