{% extends "./base.html" %}
{% load course_custom_tags %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "courses/css/common.css" %}">
{% endblock css %}

<div class="vh-100">
    <div class="container">
        <div class="section-head col-sm-12 pt-5">
            <h4><span>Log</span>In</h4>
          </div>
        <div>
        <form action="" method="POST" class="border p-2" align="center">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn-hover color-1" type="submit" value="Login">
        </form>
        </div>
     </div>
</div>

{% comment %} <div class="vh-100">
    <div class="container-fluid pt-5">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
    </div>
</div> {% endcomment %}
{% block js %}
<script src="{% static 'courses/js/course_page.js' %}"></script>
{% endblock js %}
{% endblock content %}