{% extends "./base.html" %}
{% load course_custom_tags %}
{% block content %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "courses/css/common.css" %}">
{% endblock css %}


<div class="pad vh-100">
    <div class="container-fluid">
        <div class="row">
            {% if uc.course in user_courses is not none %}
            <div class="section-head col-sm-12">
              <h4><span>You Have Not</span> Enrolled in any Courses  !</h4>
              <p>Please Enroll in any of the courses <br> And Start Learning !</p>
            </div>
            {% else %}
              <div class="section-head col-sm-12">
                <h4><span>Your</span> Courses  !</h4>
                <p>Thanks For Purchasing Over Courses <br>Please Start Learning !</p>
              </div>
              {% endif %}
            {% for uc in user_courses %}
            <div class="col mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="{{uc.course.thumbnail.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{uc.course.name}}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="row no-gutters">
                                <div class="col text-center border-right">
                                    <a href="/course/{{uc.course.slug}}" class="btn btn-light btn-block">Start Course</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% block js %}
<script src="{% static 'courses/js/course_page.js' %}"></script>
{% endblock js %}
{% endblock content %}